{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/miStyle.css' %}"> <!-- Enlace al archivo CSS externo -->
    <title>Galeria</title>
    <script src="https://kit.fontawesome.com/f879910058.js" crossorigin="anonymous"></script>
    <style>
        #clock {
            position: absolute;
      }
    </style>
</head>
<body>
    <!-- Encabezado -->
    <div class="fadein">
        <header class="header">
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo PetDogs&Amigos">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}" class="btn"><button>Inicio</button></a></li>
                    <li><a href="{% url 'quienessomos' %}" class="btn"><button>Quienes Somos</button></a></li>
                    <li><a class="btn"><button disabled>Galeria</button></a></li>
                    <li><a href="{% url 'adopcion' %}" class="btn"><button>Adopcion</button></a></li>
                    <li><a href="{% url 'razas' %}" class="btn"><button>Razas de perro</button></a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'exit' %}" class="btn"><button>Salir</button></a></li>
                    {% else %}
                        <li><a href="{% url 'iniciarSesion' %}" class="btn">Iniciar Sesion</a></li>
                    {% endif %}
                </ul>
            </nav> 
            <a onclick="openNav()" class="menu"><button>Menu</button></a>
            <div class="overlay" id="mobile-menu">
                <a onclick="closeNav()" href="" class="close">&times;</a>
                <div class="overlay-content">
                    <a href="{% url 'index' %}">Inicio</a>
                    <a href="{% url 'quienessomos' %}">Quienes Somos</a>
                    <a href="{% url 'adopcion' %}">Adopcion</a>
                    <a href="{% url 'razas' %}">Razas de perro</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'exit' %}" class="btn">Salir</a>
                    {% else %}
                        <a href="{% url 'iniciarSesion' %}" class="btn">Iniciar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </header>
    <div id="clock"></div>
    <h1 class="h1">Galeria de productos</h1> <!-- Título de la galería -->
    <h2 class="h2">Si desea calcular el precio de nuestro productos(por si desea comprar más de uno) utilice nuestra calculadora: </h2>
    <div class="back">
        <a href="{% url 'calculadora' %}">  Calculadora</a>
    <div class="contenedor-imagenes"> <!-- Contenedor de imágenes -->
        <div class="fila1"> <!-- Fila 1 de imágenes -->
            <a href="{% url 'lindocat' %}"><img class="imagen" src="{% static 'images/LindoCat2.png' %}" alt="LindoCat"></a> <!-- Imagen 1 con enlace a la página LindoCat.html -->
            <a href="{% url 'acana' %}"><img class="imagen" src="{% static 'images/AcanaL&F2.jpg' %}" alt="Acana Light & Fit"></a> <!-- Imagen 2 con enlace a la página Acana.html -->
            <a href="{% url 'naturea' %}"><img class="imagen" src="{% static 'images/Naturea2.png' %}" alt="Naturea Adult"></a> <!-- Imagen 3 con enlace a la página Naturea.html -->
        </div>
        <div class="fila2"> <!-- Fila 2 de imágenes -->
            <a href="{% url 'diamond' %}"><img class="imagen" src="{% static 'images/Diamond_Naturals2.png' %}" alt="Diamond Naturals"></a> <!-- Imagen 4 con enlace a la página Diamond.html -->
            <a href="{% url 'orijen' %}"><img class="imagen" src="{% static 'images/Orijen2.jpg' %}" alt="Orijen"></a> <!-- Imagen 5 con enlace a la página Orijen.html -->
            <a href="{% url 'taste' %}"><img class="imagen" src="{% static 'images/taste2.jpg' %}" alt="Taste of the Wild"></a> <!-- Imagen 6 con enlace a la página Taste.html -->
        </div>
    </div>
    <script src="{% static 'javascript/java.js' %}"></script>
    <script  src="{% static 'javascript/nav.js' %}"></script>
</body>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <h2>INTEGRANTES</h2>
            <p>Esteban Toro</p>
            <p>Macarena Cabrera</p>
            <p>Patricio Finschi</p>
        </div>
        <div class="box">
            <h2>SÍGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/PetDogyAmigos" id="face" class="fa fa-facebook" target="_blank"></a> <!-- Enlace a la página de Facebook -->
                <a href="https://www.instagram.com/petdogyamigos" id="insta" class="fa fa-instagram" target="_blank"></a> <!-- Enlace a la página de Instagram -->
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>PET DOG & AMIGOS</b> -  Todos los Derechos Reservados.</small>
    </div>
</footer>

</html>
